<div [class.hide]="hidden" class="background">
    <div id="container">
        <div id="x" (click)="toggleDisplay()">
            <div class="x"></div>
            <div class="x"></div>
        </div>
        <div class="content">
            <img src="{{ animal.attributes.pictureThumbnailUrl }}" alt="No Picture Provided">
            <p>{{ animal.attributes.name }}</p>
            <p>{{ animal.attributes.ageString }}</p>
            <p>{{ goodWithText }}</p>
            <p id="desc"><strong>Description: </strong>{{ descText }}</p>
        </div>
    </div>
</div>