.background {
    background-color: hsl(176, 100%, 83%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#container {
    position: absolute;
    background-color: hsl(176, 100%, 83%);
    width: 100vw;
    min-height: calc(90vh - 4px);
    top: calc(10vh + 4px);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

#x {
    position: absolute;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    right: 15px;
    top: 2.5vh;
}
#x:hover {
    cursor: pointer;
}

.x {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: hsl(106, 100%, 43%);
    transform: rotateZ(45deg);
}
.x:first-child {
    transform: rotateZ(-45deg);
}

.content {
    width: 65vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 2.5vh;
}
p:nth-child(3){
    margin-top: 0.5vh;
}

#desc {
    text-align: left;
    margin-bottom: 1.5vh;
}