*{
    margin: 0;
    padding: 0;
}
#nav {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    font-size: 25px;
}
body {
    background-color: #009090;
}
#calc{
    margin: 5vh auto;
    border: solid 2px #055;
    background-color: #008080;
    display: flex;
    flex-wrap: wrap;
}
#calc div{
    background-color: indianred;
    width: 25%;
}
#calc div#display{
    width: 75%;
    display: table;
}
input[type="button"]{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #008080;
    border-color: #008080;
}
#display p{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.num input{
    background-color: #008d8d;
    border-color: #008d8d;
}
#calc > div > input:hover {
    cursor: pointer;
}

@media (orientation: portrait){
    @media only screen and (min-width: 769px) {
        #calc {
            width: 500px;
            height: 500px;
        }
    }
    
    /* Tablet and under */
    @media only screen and (max-width: 768px) {
        #calc {
            width: calc(100vw - 4px);
            height: calc(80vh - 4px);
        }
    }
}

@media (orientation: landscape){
    @media only screen and (min-width: 769px) {
        #calc {
            width: 500px;
            height: 500px;
        }
    }
    
    /* Tablet and under */
    @media only screen and (max-width: 768px) {
        #calc {
            width: calc(100vw - 4px);
            height: calc(80vh - 4px);
        }
    }
}

