div {
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 0 3px hsl(52, 94%, 94%);
    padding: 15px;
}
div:hover {
    background-color: hsl(88, 38%, 20%);
    box-shadow: 0 0 5px hsl(52, 94%, 94%);
}
a {
    display: block;
    width: 100%;
    text-decoration: none;
}