<nav id="mobile-nav">
    <div id="mobile-nav-bar" [ngClass]="{'navDropped': navDropped}">
        <div id="title"><h1 routerLink="/home">Animal Adoption</h1></div>
        <div id="hamburger">
            <span class="bar" [ngClass]="{'active' : navDropped}"></span>
            <span class="bar" [ngClass]="{'active' : navDropped}"></span>
            <span class="bar" [ngClass]="{'active' : navDropped}"></span>
            <input type="checkbox" id="checkbox" (click)="burgerOutInAnim()">
        </div>
    </div>
    <div id="drop-nav" [ngClass]="{'active' : navDropped}">
        <a id="in-page-link" class="" [ngClass]="{'active' : navDropped}" href="https://matthew-sudekum.github.io/" (click)="burgerOutInAnim()">Portfolio</a>
        <a id="in-page-link" class="" [ngClass]="{'active' : navDropped}" routerLink="/home" (click)="burgerOutInAnim()">Home</a>
    </div>
    <div id="body-filter" [ngClass]="{'active' : navDropped}"></div>
</nav>
  
<nav id="desktop-nav">
    <a id="in-page-link" class="activeNav" href="https://matthew-sudekum.github.io/">Portfolio</a>
    <a id="in-page-link" class="" href="">Home</a>
</nav>