div.card {
    margin: 0px auto;
}
h4 {
    margin-top: 25px;
}
p {
    margin-bottom: 0px;
}
img {
    margin-top: 10px;
    max-height: 500px;
    border: inset 2px hsl(28, 67%, 44%);
}
div.video iframe{
    border: none;
}
div.video{
    margin: auto;
    margin-bottom: 10px;
    width: 576px;
    height: 324px;
    margin-top: 10px;
    border: inset 2px hsl(28, 67%, 44%);
}