div.nav {
    height: 7vh;
    box-shadow: 0 0 5px hsl(52, 94%, 94%);
    background-color: hsl(88, 38%, 15%);
}
.nav a {
    margin: 0px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
    font-size: 2.2em;
}
