h2 {
    color: hsl(28, 67%, 44%);
    font-size: 1.8em;
    font-weight: normal;
}
div.card {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 5px hsl(52, 94%, 94%);
    background-color: hsl(88, 38%, 15%);
}
@media only screen and (min-width: 660px) {
    div.card {
        width: 600px;
    }
}
@media only screen and (max-width: 659px) {
    div.card {
        width: calc(100vw - 60px);
    }
}