.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: calc(50vw - 38px);
    height: calc(25vh - 38px);
    border: 4px solid hsl(106, 100%, 43%);
    border-radius: 10px;
    box-shadow: -7px -7px 3px hsl(106, 100%, 30%);
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}
.container:hover {
    cursor: pointer;
}

img {
    max-height: 70%;
}

@media screen and (min-width: 768px) {
    .container {
        width: calc(22vw - 38px);
    }
}