/*********************** Nav *********************/
#mobile-nav {
    display: none;
}
#desktop-nav.active {
    display: flex;
}
#drop-nav > a.activeNav {
    text-decoration: underline;
    font-size: 4vmax;
}
@media only screen and (min-width: 769px) {
    
    #desktop-nav {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 7vh;
        align-items: center;
        background-color: rgb(64, 64, 64);
        justify-content: flex-end;
        z-index: 1;
    }
    #desktop-nav > a {
        margin-right: 2vw;
        font-size: 0.95vmax;
    }
    #desktop-nav > a:hover {
        text-decoration: underline;
    }
    #desktop-nav > a.activeNav {
        text-decoration: underline;
        font-size: 1.35vmax;
    }
}
@media only screen and (max-width: 768px) {
    
    #desktop-nav {
        display: none;
    }
    #mobile-nav.active {
        display: block;
    }
    #mobile-nav {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    #mobile-nav-bar {
        display: flex;
        width: 100vw;
        height: 10vh;
        background-color: rgb(64, 64, 64);
        justify-content: flex-end;
    }

    #hamburger {
        position: relative;
        margin: 1.5vh;
        width: 7vh;
        height: 7vh;
    }

    .bar {
        position: absolute;
        display: block;
        width: 100%;
        height: 0.75vh;
        background-color: rgb(231, 150, 0);
        transition: all 0.2s ease;
    }
    .bar:nth-child(1) {
        top: calc(0% + 0.375vh);
        transition: all 0.2s ease-in-out;
    }
    .bar:nth-child(2) {
        top: calc(50% - 0.375vh);
    }
    .bar:nth-child(3){
        bottom: calc(0% + 0.375vh);
        transition: all 0.2s ease-in-out;
    }
    .bar:nth-child(1).active {
        transform: rotate(45deg);
        top: calc(50% - 0.375vh);
    }
    .bar:nth-child(2).active {
        height: 0;
        top: 50%;
    }
    .bar:nth-child(3).active {
        transform: rotate(-45deg);
        bottom: calc(50% - 0.375vh);
    }

    #checkbox {
        position: absolute;
        opacity: 0;
        width: 7.75vh;
        height: 7vh;
        left: -0.375vh;
    }

    #drop-nav {
        position: relative;
        background-color: rgb(64, 64, 64);
        width: 100vw;
        height: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.2s ease-in-out;
    }
    #drop-nav.active {
        height: calc(50vh - 10vh);
    }
    #drop-nav > a {
        font-size: 2.4vmax;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        cursor: default;
        color: rgba(0, 0, 0, 0);
        transition: all 0.2s ease-in-out;
    }
    #drop-nav > a.active {
        height: 25%;
        pointer-events: initial;
        cursor: pointer;
        color: rgb(231, 150, 0);
        border-bottom: 1px solid rgb(30, 30, 30);
    }
    #drop-nav > a:first-child.active {
        border-top: 1px solid rgb(30, 30, 30);
    }
    #body-filter {
        width: 100%;
        background-color: rgba(30, 30, 30, 0);
        transition: all 0.2s ease-in-out 0.1s;
    }
    #body-filter.active {
        height: calc(50vh + 5px);
        background-color: rgba(30, 30, 30, 0.7);
    }
}