div.nav {
    position: relative;
    width: 100%;
    height: 7vh;
    box-shadow: 0 0 5px hsl(52, 94%, 94%);
    background-color: hsl(88, 38%, 15%);
}
#fullsize-nav a {
    margin: 0px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
    font-size: 2.2em;
}
@media only screen and (min-width: 601) {
    #fullsize-nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    #hamburger-nav{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #fullsize-nav.active {
        display: block;
        box-shadow: 0 4px 5px -3px hsl(52, 94%, 94%);
        background-color: hsl(88, 38%, 15%);
        width: 100vw;
        position: absolute;
        top: 100%;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #fullsize-nav.disabled {
        display: none;
    }
    #fullsize-nav a {
        display: block;
        margin: 10px auto;
    }
    #hamburger-nav {
        position: absolute;
        top: 50%;
        right: 0;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .bar {
        margin: 7px 10px 7px 0px;
        background-color: hsl(28, 67%, 44%);
        height: 7px;
        width: 50px;
    }
}